<div class="columns">
  <div class="column is-half is-offset-one-quarter  mt-2">
    <%= render "form", note: @note %>

    <br>

    <div class="container">
      <%= link_to "Back to notes", notes_path %>
    </div>
  </div>
</div>