
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= render @note %>
    
    <br>
    <%= link_to "Edit this note", edit_note_path(@note) if accessible?(@note.user.id) %> 
    <div>
      <%= link_to "Back to notes", notes_path %>
    </div>
  </div>
</div>