<div class="container">
  <div class="columns is-multiline" id="characters">
    <% unless @is_available %>
      <%= render "all_characters", my_characters: @my_characters, team_characters: @team_characters %>
    <% else %>
      <%= render "available_characters", available: @available %>
    <% end %>
  </div>
</div>


  <div class="new-button">
    <%= link_to "New character", new_character_path, class: "button is-primary" %>
  </div>