<div class="new-button">
  <%= link_to "Create New", new_ability_path, class: "button is-primary" %>
</div>


<div class="container mt-2">
  <h1 class="title">Abilities</h1>

  <div class="columns is-multiline" id="abilities">
    <% @abilities.each do |ability| %>
      <div class="column is-one-quarter"><%= render ability %></div>
    <% end %>
  </div>
</div>