<div class="container">
  <div>
    <h1 class="title">Abilities</h1>
    <%= link_to "Create New", new_ability_path, class: "button" %>
  </div>

  <div class="columns is-multiline" id="abilities">
    <% @abilities.each do |ability| %>
      <div class="column is-one-quarter"><%= render ability %></div>
    <% end %>
  </div>
</div>